:root {
    --border-len: 4px;

    --light-box-color: #f9eade;
    --light-border-color: #daccc2;

    --red-strip-color: #bf5050;
    --white-strip-color: #f1edd7;
}

.body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: "Helvetica", sans-serif;
    background: rgb(190, 169, 155);
    background: linear-gradient(90deg, rgba(190, 169, 155, 1) 0%, rgba(249, 234, 222, 1) 50%, rgba(190, 169, 155, 1) 100%);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar__logo {
    display: inline-flex;
    box-sizing: border-box;
}

.nav-bar__logo-image {
    display: inline-block;
    float: left;
    width: auto;
}

.nav-bar__bookmark {
    display: none;
    z-index: 3;
}

@media screen and (min-width: 1000px) {
    .nav-bar__bookmark {
        display: inline-flex;
        box-sizing: border-box;
        position: fixed;
        left: 92%;
    }
}

.nav-bar__logo-image {
    display: inline-block;
    width: auto;
}

.nav-bar__logo-title {
    display: none;
}

@media screen and (min-width: 800px) {
    .nav-bar__logo-title {
        display: inline-block;
        padding-left: 8px;
        line-height: 100px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 18px;
        font-weight: 700;
    }
}

.nav-bar__list {
    display: flex;
}

.nav-bar__list li{
    margin-left: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    list-style: none;
}

@media screen and (min-width: 700px) {
    .nav-bar__list li {
        margin-left: 32px;
    }
}

.nav-bar__item{
    text-decoration: none;
    color: black;
}

.nav-bar__item__active{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.2em;
}

.main {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .main {
        width: 85%;
    }
}

@media screen and (min-width: 1400px) {
    .main {
        width: 75%;
        padding: 0 7%;
    }
}

.main div {
    margin: 0.5cm 0.75cm;
    border-radius: 10px;
}

.footer {
    position: relative;
    padding: 0.75cm 1cm;
    margin: 0;
    background: var(--light-box-color);
    border-top: var(--border-len) solid var(--light-border-color);
}

.footer strong {
    font-size: 18px;
    letter-spacing: 0.075em;
}